.page404{
    
        img{
            width: 100%;
            padding: 40px 40px 0 40px; 
        }
       overflow: hidden;
       position: absolute;
       width: 100%;
       bottom: 0;
       z-index: -1;
       
}
